.app_brown_theme {
    --bg-color: #fbf8f4;
    --inverted-bg-color: #86652b;
    --primary-color: #684322;
    --secondary-color: #fbf8f4;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #281310;
}
